.behvChart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: #eef5dbc2;
    justify-content: space-around;
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 760px;
    padding: 0;
}



/* table {
    border: 2px solid black;
    border-collapse: collapse;
    display: table;
}

th {
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

th {
    width: 90px;
}

td {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

tr {
    border-bottom: 2px solid black;
} */


td {
    box-sizing: border-box;
    flex-grow: 1;
    /* width: 100%; */
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid black;
    background: fade(slategrey, 20%);
}

input {
    margin: 10px;
}


