button {
    background-color: #b8d8d8;
    border-color: #74979e;
    color: black;
    margin: 6px;
    font-size: 18px;
}

.taskForm {
    margin: 20px;
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

label {
    margin: 10px;
}

button:hover {
    background-color: #d4ffff;
}