footer {
    display: flex;
    background-color: #b8d8d8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 1px solid #4f6367;
    width: 100vw;
    height: auto;
    justify-content: center;
}